body {
    background:#000;
    font: normal 12px/20px 'Open Sans', sans-serif;
    color: #eee;
    padding: 0;
    margin: 0;
}

* {
    box-sizing:border-box;
}

a {
    color:#CCE9FF;
    text-decoration:none;
}

h3 {
    padding:20px;
    margin:0;
    font: normal 30px/40px 'Helvetica', sans-serif;
}

#map {
    background: url(bm.jpg) no-repeat center center fixed;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
}

#map, #c, #c-glow, #o {
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
}

#overlay {
    position: relative;
}

#overlay span {
    position: absolute;
    background: rgba(0, 0, 0, 0.2);
    -webkit-transition: -webkit-transform 500ms linear;
    font-size:10px;
}

#overlay span a {
    text-decoration:none;
}

#overlay span a:hover {
    text-decoration:underline;
}

.edits-overlay {
    position:fixed;
    top:20px;
    right:20px;
    color:#fff;
    text-align:right;
    max-width:25%;
}

#edits {
    font:bold 42px 'Helvetica Neue';
}

#names {
    padding:10px;
    color:#fff;
    white-space: nowrap;
    overflow:hidden;
    display:block;
    font-size:18px;
    font-family:monospace;
}

a.edit-link {
    margin-right:10px;
    font-size:9px;
    border: 1px solid #CCE9FF;
    padding:0 2px;
}

#info {
    position:fixed;
    bottom:0;
    left:0;
}
