body {
    background:#000;
    font: normal 12px/20px 'Helvetica', sans-serif;
    color: #eee;
    padding: 0;
    margin: 0;
}

* {
    box-sizing:border-box;
}

h1 {
    margin: 0;
    padding:20px;
    font-weight: normal;
}

#map {
    background-image: url(bm.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

#map, #c, #o {
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
}

#overlay {
    position: relative;
}

#overlay span {
    position: absolute;
    background: rgba(0, 0, 0, 0.2);
    -webkit-transition: -webkit-transform 500ms linear;
}

#overlay span a {
    text-decoration:none;
}

#overlay span a:hover {
    text-decoration:underline;
}

#info {
    position:fixed;
    background:#11140b;
    border-top:1px solid #353636;
    bottom:0;
    left:0;
    right:0;
}

.edits-overlay {
    position:fixed;
    top:20px;
    right:20px;
    color:#fff;
    text-align:right;
    max-width:25%;
}

#edits {
    font:bold 28px 'Helvetica Neue';
}

#names {
    display:block;
    opacity:0.5;
    font-size:10px;
}

a {
    color:#CCE9FF;
}

a.edit-link {
    margin-right:10px;
    font-size:9px;
    border: 1px solid #CCE9FF;
    padding:0 2px;
}

h3 {
    padding:20px 20px 0px 20px;
    margin:0;
    font: normal 22px/30px 'Helvetica', sans-serif;
}

p {
    padding:0px 20px 20px 20px;
    font: normal 18px/30px 'Helvetica', sans-serif;
}
